<section class="grid h-screen place-content-center bg-slate-900 text-slate-300">
  <div class="mb-10 text-center text-indigo-400">
    <img src="../../../assets/joint-low-resolution-logo-color-on-transparent-background.png" class="h-40 w-40 items-center justify-center ml-20">
  </div>
  <div class="flex flex-col items-center justify-center space-y-6">
    <input type="password" id="password" name="password" placeholder="Firstname" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input type="password" id="confirm_password" name="Lastname" placeholder="Lastname" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input type="password" id="password" name="password" placeholder="Email" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input type="password" id="confirm_password" name="confirm_password" placeholder="contactno" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input type="password" id="password" name="password" placeholder="password" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <button id="showPw" class="rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-orange-500">Register</button>
  </div>
  <br>
  <div class="ml-10">
    <p>Already have an Account &nbsp;<a  href="login">login</a></p>
  </div>
</section>