<div class="alert alert-success shadow-lg" [class.visible]="isVisible">
  <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current h-10 w-10" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span><b>Successfully Registered!!!!</b></span>
  </div>
</div>

<!-- error alert -->
<div class="alert alert-error shadow-lg" [class.error]="error">
  <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-10 w-10" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span><b>Not Registered!!!</b></span>
  </div>
</div>


<section class="grid h-screen place-content-center bg-slate-900 text-slate-300">
  <div class="mb-10 text-center text-indigo-400">
    <img src="../../../assets/joint-low-resolution-logo-color-on-transparent-background.png" class="h-40 w-40 items-center justify-center ml-20">
  </div>
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()"  class="flex flex-col items-center justify-center space-y-6">
    <input formControlName="firstname"  type="firstname" id="firstname" name="firstname" placeholder="Firstname" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input formControlName="lastname" type="lastname" id="lastname" name="lastname" placeholder="Lastname" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input formControlName="email" type="email" id="email" name="email" placeholder="Email" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input formControlName="contactno" type="contactno" id="contactno" name="contactno" placeholder="Contactno" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <input formControlName="password" type="password" id="password" name="password" placeholder="password" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
    <div class="form-floating mb-3">
      <select formControlName="user_type" type="number" name="user_type" id="user_type" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500">
      <option  class="w-2/3" value="client">UserType</option>  
      <option class="w-2/3" value=1>seller</option>
      <option class="w-2/3" value=2>Client</option>
    </select>
  </div>
    <button id="showPw" class="rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-orange-500">Register</button>
  </form>
  <br>
  <div class="ml-10">
    <p>Already have an Account &nbsp;<a  href="login">login</a></p>
  </div>
</section>